.jumbotron {
   padding-top: 6rem;
   background-color: #e2edff;
}

#projects {
   background-color: #e2edff;
}

section {
   padding-top: 5rem;
}

.text-justify {
   text-align: justify;
}

.icon {
   font-size: 3rem;
}
